{% extends 'base.html' %}

{% block head %}

<title>Search Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/new.css') }}">
{% endblock %}

{% block body %}
<div class="login">
	<h1>Image Scraping</h1>
    <form method="post", action="/retrieve">
    	<input type="text" name="content" placeholder="Query" required="required" />
        <input type="text" name="mongourl" placeholder="MongoDB URL" required="required" />
        <input type="password" name="mongopass" placeholder="Password" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Scrap</button>
    </form>
    <h2> {{ loaded }} </h2>
</div>
{% endblock %}


